/** Configuração da DIV de conteúdo 
**************************************************************************************/

#conteudo {
  /** Largura  **/
  width: 680px;

  /** Cor de fundo da div principal **/
  background-color: rgb(255, 255, 255);

  /** Posicionando os elementos **/
  position: relative;
  left: 50%;
  margin-left: -380px;
}
