/** Configuração geral da página
**************************************************************************************/

body {
  /** Muda a cor do fundo da página **/
  background-image: url(../imagens/fundocinza.png);

  height: auto;
  width: auto;

  /** Fonte **/
  font-family: "Helvetica";

  /** Margem zerada **/
  margin: 0;
}
